body{
    color: white;
    background-color: black;
}
header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.header-abt{
    width: 70%;
}
.header-abt h3{
    margin-top: -30px;
}
.header-abt p{
    width: 70%;
    margin-top: -15px;
    font-size: 20px;
}
.header-img{
    width: 30%;
}
#header-abt-img{
    width: 50px;
    border: solid rgb(36, 248, 36) 10px;
    border-radius: 50%;
    height: 25vh;
    width: 40%;
    margin: auto;
}
.header-contact ul{
    list-style: none;
    text-align: right;
}
.header-contact ul li{
    font-size: 25px;
    margin-bottom: 10px;
    vertical-align: center;
}
.header-contact ul a{
    text-decoration: none;
}

section{
    display: flex;
    padding: 30px;
}
section div{
    width: 50%;
}
.left h3{
    margin-top: -35px;
}
.left p{
    font-size: 20px;
    margin-top: -35px;
}
.right ul{
    list-style: none;
}
#skill-list{
    margin-left: -40px;
}
#skill-list li{
    background-color: rgb(196, 192, 192);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    width:fit-content;
}
#interest-list{
    margin-left: -40px;
}
#interest-list li{
    border: solid white 1px;
    border-radius: 5px;
    padding: 3px;
    width: fit-content;
    margin-bottom: 5px;
}
.interest-list-align{
    margin-left: 5px;
}
#clear-not{
    display: none;
}
#de-btn{
    margin: auto;
    text-align: center;
}
#de-btn a button{
    padding: 15px 30px;
    background: rgb(36, 248, 36);
    color: white;
}

/* Responsiveness */

@media(max-width:500px){
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-abt, .header-img{
        width: 100%;
        text-align: center;
    }
    .header-abt p{
        width: 100%;
        margin-top: -15px;
        font-size: 20px;
    }
    section{
        flex-direction: column;
    }
    section div{
        width: 100%;
    }
    #clear{
        display: none;
    }
    #clear-not{
        display: block;
    }
}