@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.header-abt h3{
    margin-top: -30px;
}
.header-abt p{
    width: 70%;
    margin-top: -15px;
    font-size: 20px;
    line-height: 1.8;
}
.header-img{
    text-align: center;
}
.header-img-mob{
    display: none;
}
#header-abt-img{
    width: 200px;
    border: solid rgb(36, 248, 36) 10px;
    border-radius: 100%;
    height: 200px;
}
.header-contact ul{
    list-style: none;
    text-align: right;
}
.header-contact ul li{
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-contact ul li span{
    margin-left: 10px;
}
.header-contact ul a{
    text-decoration: none;
    color: black;
}
section{
    display: flex;
    padding: 30px;
}
section div{
    width: 50%;
}
section div h1{
    font-size: 2em;
}
.left h3{
    margin-top: -35px;
}
.left p{
    font-size: 20px;
    margin-top: -35px;
}
.right ul{
    list-style: none;
}
#skill-list{
    margin-left: -40px;
}
#skill-list li{
    background-color: rgb(196, 192, 192);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width:fit-content;
}
#interest-list{
    margin-left: -40px;
}
#interest-list li{
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin-bottom: 5px;
}
.interest-list-align{
    margin-left: 5px;
}
#clear-not{
    display: none;
}
#de-btn{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
#de-btn a{
    text-decoration: none;
    color: black;
}
#de-btn a button{
    padding: 15px 30px;
    background: rgb(36, 248, 36);
    color: white;
}

/* Responsiveness */

@media(max-width:800px){
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-abt{
        text-align: center;
    }    
    .header-img{
        display: none;
    }
    .header-img-mob{
        display: block;
        text-align: center;
    }
    .header-abt p{
        /* width: 100%; */
        margin-top: -15px;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
    .header-contact{
        display: none;
    }
    section{
        flex-direction: column;
    }
    section div{
        width: 100%;
    }
    #clear{
        display: none;
    }
    #clear-not{
        display: block;
    }
    #clear-not ul li{
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #clear-not ul li span{
        color: black;
        margin-right: 10px;
    }
    #clear-not ul a{
        color: black;
        text-decoration: none;
    }
}